.formwidth{
    max-width: 400px;
}
.btncolor{
    font-weight: bold;
    background-color:  #ff6501;
    border-color: #ff6501;
}
.btncolor:hover{
    transition: linear 0.5s;
    font-weight: bold;
    color: black;
    background-color:  #3cfe00;
    border-color: #3cfe00;
}
.btnorange{
    font-weight: bold;
    background-color:  #ff6501;
    border-color: #ff6501;
}
.btnorange:hover{
    font-weight: bold;
    background-color:  #ff6501;
    border-color: #ff6501;
}