.nav-pills .nav-link.active{
    color: white;
    font-size: large;
    background-color: #ff6501;
}
.nav-pills .nav-link {
    border: 1px #ff6501 solid;
    color: black;
    font-size: large;
}
    
.heightselect {
    margin-top: 20px;
}
.form-control:focus{
    border-color: #fd8332;
    box-shadow:  none;
}