.marginfooter{
    margin-top: 9vh;
}
.borderfooter{
    border-top: #ff6501 1px solid;
}
.footertext{
    color: #ff6501;
}
@media (max-width: 1024px) {
    .marginfooter{
        margin-top: 5vh;
    }
}