body {
    margin: 0;
    padding: 0;
    background-image: url(../src/components/Images/background.png);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}

.btnsave {
    border-color: #ff6501 !important;
    background-color: #ff6501 !important;
}